Package: com.schultzyyy.scmusicplusrevanced
Name: SCMusicPlusRevanced
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Enhance your iOS SoundCloud experience
Author: schultzyyy271
Maintainer: schultzyyy271
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
